{% load static %}
<!doctype html>
<html lang="en">
<head>
  <title>
    {% block title %}
      Online Test
    {% endblock %}
  </title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href='{% static "images/evolet_logo.jpg" %}' type="image/ico">

  <!-- Bootstrap CSS -->
  <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap/dist/css/style.css' %}" rel="stylesheet">
</head>
<body id="body-login" class="text-center">
  <div class="container h-100 ">
  <div id="card-login" class="card shadow-lg ">
  <div class="row">
  <div class="col">
  <form id="admin-login-form" class="form-signin">
    {% csrf_token %}
    <img class="mt-4" src='{% static "images/evolet_logo.jpg" %}' alt="" height="72">
    <h1 class="h3 mb-3 font-weight-normal mt-2">Admin Sign-In</h1>
    <label for="inputmobile" class="sr-only">Email address</label>
    <input id="inputmobile" class="form-control mb-2" placeholder="Phone Number" name="mobile" required>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
    <!-- <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> -->
    <button id="admin-login-button" class="btn btn-lg bg-dark text-white btn-block" type="button">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
  </form>
  </div>
  <div class="col">
    <h1 class="text-white mt-5 mb-5">Are You a Candidate?</h1>
    <h3 class="text-white">Take the test. Register Now!</h3>
    <a id="register-now-button" href="{% url 'register-candidate' %}" class="btn btn-lg btn-outline-success mt-2">Register</a>
    <hr class="">
    <h3 class="text-white mt-3">Registered Already?</h3>
    <a type="button" href="{% url 'candidate_login' %}" class="btn btn-lg btn-outline-success mt-2">Take The Test</a>
  </div>
  </div>
  </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="{%static 'home/homepage.js'%}"></script>
  </body>
</html>