{%extends 'base.html'%}
{%block title%} Candidates {%endblock%}

{%block body%}
<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container text-center">
    <h1 class="test-underline text-dark "><b>CANDIDATES</b></h1>
  </div>
  <div class="container">
    <table class="table table-hover table-striped table-candidates">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Candidate Name</th>
          <th scope="col">Course/Technology</th>
          <th scope="col">Score</th>
          <th scope="col">Test Date</th>
        </tr>
      </thead>
      <tbody>
        {% for test in test_details %}
        <tr onclick="gotoCandidate('{{ test.candidate.email }}')" >
          <th scope="row"></th>
          <td>{{ test.candidate.full_name }}</td>
          <td>{{ test.course }}</td>
          <td>{{ test.score }}</td>
          <td>{{ test.test_start_time }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>

<script>

  function gotoCandidate(candidate_email){
  window.location = `/course/candidate/${candidate_email}`;
  };

</script>
{%endblock%}