{%extends 'base.html'%}
{%block title%} Courses {%endblock%}

{%block body%}
<main role="main" class="flex-shrink-0">
        <div class="container text-center">
          <h1 class="test-underline text-dark "><b>COURSES</b> <a><i class="fas fa-plus icon-test pull-right" data-toggle="modal" data-target="#newCourseModal"></i></a></h1>
      
        <!-- Modal -->
        <div class="modal fade" id="newCourseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">New Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="POST" action="{% url 'course_list' %}">
                {% csrf_token %}
              <div class="modal-body">
                
                  <div class="form-group">
                    <label for="addCourseName">Add a new course:</label>
                    <input type="test" class="form-control" id="addCourseName" name="name" placeholder="Enter the new course" required>
                  </div>
                  <div class="form-group text-left">
                    <label for="addCourseName">Enter the Course Content:</label>
                    <textarea type="test" class="form-control" id="addCourseContent" name="content" placeholder="Enter the course content" required></textarea>
                  </div>

                  
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                
              </div>
              </form>
            </div>
      
          </div>
        </div>
        </div>
      
        <div class="container">
          {% for error in errors.keys %}
          {%if error == 'name' %}
              <div class="alert alert-danger" role="alert">
                  Course with given name already exists
                </div>
                {% endif %}
          {% endfor %}
          <ul class="list-group list-test ">

            {% for course in courses %}
            <li type="button" class="list-group-item list-group-item-action mb-3" data-name="{{ course.name }}" onclick="gotoCourse('{{ course.name }}')">
              <div class="row">
              <div class="col-10">
                {{ course.name }}
              </div>
              <div class="col-1">
              <i class="fas fa-pen" data-toggle="modal" data-target="#editCourseModal" onclick="doEdit(event)" data-name="{{ course.name }}" data-content="{{ course.content }}" ></i>
              </div>
              <div class="col-1">
              <i class="fas fa-trash"></i>
              </div>
              </div>
              </li>
            {% endfor %}
          
          </ul>
      
          <div class="modal fade" id="editCourseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editeModalLabel">Edit Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form>
                {% csrf_token %}
              <div class="modal-body">
                
                  <div class="form-group">
                    <label for="editcourseName">Edit the course name:</label>
                    <input type="test" class="form-control" id="editCourseName" name="name" placeholder="Enter the new course">
                  </div>
                  <div class="form-group text-left">
                    <label for="editcourseName">Enter the Course Content:</label>
                    <textarea type="test" class="form-control" id="editCourseContent" name="content" placeholder="Enter the course content"></textarea>
                  </div>
                  
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                
              </div>
              </form>
            </div>
      
          </div>
        </div>
      </main>
      
      <script>
        function doEdit(event) {
          const { name, content } = event.target.dataset;
          document.querySelector("#editCourseName").value = name;
          document.querySelector("#editCourseContent").value = content;
        };

        function gotoCourse(course){
          window.location = `/question/course/${course}`;
        };
      </script>
{%endblock%}